.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    background-color: #4A1342;
    border: 2px solid #4A1342;
    color: #fff;
}

.btn-primary:hover {
    background-color: white;
    border: 2px solid #4A1342;
    color: #4A1342;
}

.btn-primary:disabled,
.btn-primary:disabled:active,
.btn-primary:disabled:focus {
    background-color: #4A1342;
    border: 2px solid #4A1342;
    color: #fff;
    opacity: 0.7;
}

.btn-success,
.btn-success:active,
.btn-success:focus {
    background-color: #26B48D;
    border: 2px solid #26B48D;
    color: #fff;
}

.btn-success:hover {
    background-color: white;
    border: 2px solid #26B48D;
    color: #26B48D;
}

.btn-success:disabled,
.btn-success:disabled:active,
.btn-success:disabled:focus {
    background-color: #CCC;
    border: 2px solid #CCC;
    color: #fff;
    opacity: 0.7;
}

.btn-outline-success,
.btn-outline-success:active,
.btn-outline-success:focus {
    background-color: white;
    border: 2px solid #26B48D;
    color: #26B48D;
}

.btn-outline-success:hover {
    background-color: #26B48D;
    border: 2px solid #26B48D;
    color: #fff;
}

.btn-outline-primary:disabled,
.btn-outline-primary:disabled:active,
.btn-outline-primary:disabled:focus {
    background-color: #4A1342;
    border: 2px solid #4A1342;
    color: #fff;
    opacity: 0.7;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    background-color: white;
    border: 2px solid #4A1342;
    color: #4A1342;
}

.btn-outline-primary:hover {
    background-color: #4A1342;
    border: 2px solid #4A1342;
    color: #fff;
}

.btn-outline-primary:disabled,
.btn-outline-primary:disabled:active,
.btn-outline-primary:disabled:focus {
    background-color: #4A1342;
    border: 2px solid #4A1342;
    color: #fff;
    opacity: 0.7;
}

.btn-outline-2-primary:disabled,
.btn-outline-2-primary:disabled:active,
.btn-outline-2-primary:disabled:focus {
    background-color: #4A1342;
    border: 1px solid #4A1342;
    color: #fff;
    opacity: 0.7;
}

.btn-outline-2-primary,
.btn-outline-2-primary:active,
.btn-outline-2-primary:focus {
    background-color: white;
    border: 1px solid #4A1342;
    color: #4A1342;
}

.btn-outline-2-primary:hover {
    background-color: #4A1342;
    border: 1px solid #4A1342;
    color: #fff;
}

.btn-outline-2-primary:disabled,
.btn-outline-2-primary:disabled:active,
.btn-outline-2-primary:disabled:focus {
    background-color: #4A1342;
    border: 1px solid #4A1342;
    color: #fff;
    opacity: 0.7;
}

.btn-light,
.btn-light:active,
.btn-light:focus {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.btn-light:hover {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
}

.btn-light:disabled,
.btn-light:disabled:active,
.btn-light:disabled:focus {
    background-color: #CCC;
    border: 2px solid #CCC;
    color: #000;
    opacity: 0.7;
}

.color-primary {
    color: #4A1342;
}

.bg-primary {
    background-color: #4A1342;
}

.color-success {
    color: #26B48D;
}

.bg-success {
    background-color: #26B48D;
}

.border-success {
    border-color: #26B48D;
}

.vue-shadow {
    box-shadow: 0px 6px 15px 0px #00000010;
}

.vue-shadow:hover {
    box-shadow: 0px 6px 15px 0px #00000033;
}

.vue-label-purple {
    color: #972A66;
    border: 1px solid #972A66;
    font-size: 11px;
    line-height: 15px;
    border-radius: 2px;
    padding: 2px;
}

.color-light-grey {
    font-weight: normal;
    color: #999;
}

.bg-grey-lighter {
    background-color: #f5f5f5;
}

.color-grey-darker {
    font-weight: normal;
    color: #555;
}

.bg-grey-darker {
    background-color: #555;
}

.vue-badge {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 11px;
    color: #fff;
}

.btn-vue {
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 13px;
}

button:focus {
    outline: none !important;
}

input.vue-input {
    height: 30px;
    border: 1px #ccc solid;
    text-align: center;
    border-radius: 7px;
    width: 100%;
}

input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.rotate-up {
    -webkit-animation: rotate-up 0.10s ease-in-out both;
    animation: rotate-up 0.10s ease-in-out both;
}

@-webkit-keyframes rotate-up {
    0% {
        -webkit-transform: scale(1) rotateZ(135deg);
        transform: scale(1) rotateZ(135deg);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(225deg);
        transform: scale(2) rotateZ(225deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(315deg);
        transform: scale(1) rotateZ(315deg);
    }
}

@keyframes rotate-up {
    0% {
        -webkit-transform: scale(1) rotateZ(135deg);
        transform: scale(1) rotateZ(135deg);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(225deg);
        transform: scale(2) rotateZ(225deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(315deg);
        transform: scale(1) rotateZ(315deg);
    }
}

.rotate-down {
    -webkit-animation: rotate-down 0.10s ease-in-out both;
    animation: rotate-down 0.10s ease-in-out both;
}

@-webkit-keyframes rotate-down {
    0% {
        -webkit-transform: scale(1) rotateZ(315deg);
        transform: scale(1) rotateZ(315deg);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(225deg);
        transform: scale(2) rotateZ(225deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(135deg);
        transform: scale(1) rotateZ(135deg);
    }
}

@keyframes rotate-down {
    0% {
        -webkit-transform: scale(1) rotateZ(315deg);
        transform: scale(1) rotateZ(315deg);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(225deg);
        transform: scale(2) rotateZ(225deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(135deg);
        transform: scale(1) rotateZ(135deg);
    }
}

@media screen and (min-width: 641px) {
    .sticky-left-menu {
        position: sticky !important;
        top: 0;
    }
}

.vue-product-card:hover .vue-product-links, .vue-product-detail:hover .vue-product-links {
    display: grid;
}

.vue-product-links {
    display: none;
    text-align: center;
    grid-template-rows: 2em 2em;
    grid-template-columns: 2em 2em;
    grid-gap: 5px;
    justify-content: center;
    margin-top: 3px;
}

.vue-product-links > a {
    font-size: 10px;
    border-radius: 5px;
    color: #222;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vue-product-links > a:hover {
    border: 1px solid #222;
}

.vue-ten-days {
    border-radius: 5px;
    border: 1px solid #F7B352;
    color: #F7B352;
    padding: 3px;
}

#layer_cart .vue-product-name {
    line-height: 15px;
    font-size: 15px;
}

#layer_cart .vue-product-accroche {
    font-size: 14px;
    line-height: 14px;
}

/* VINATIS CUSTOM ICONS CSS */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf');
}

.vue-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vintage:before,
.icon-age:before {
    content: "\e904";
}

.icon-country:before {
    content: "\e907";
}

.icon-champagne_type:before {
    content: "\e908";
}

.icon-region:before {
    content: "\e90c";
}

.icon-spirits_type:before {
    content: "\e90d";
}

.icon-type:before {
    content: "\e90e";
}

.icon-abv:before {
    content: "\e910";
}

.icon-capacity:before {
    content: "\e913";
}

.icon-beer_type:before {
    content: "\e915";
}

.icon-colour:before {
    content: "\e916";
}

.icon-price:before {
    content: "\e917";
}

.icon-price_sterling:before {
    content: "\e918";
}

.icon-age:before {
    content: "\e909";
}

.icon-appellation:before {
    content: "\e914";
}

.icon-bio:before {
    content: "\e903";
}

.icon-pictos:before {
    content: "\e900";
}

.icon-manufacturers:before {
    content: "\e906";
}

.icon-wine_type:before {
    content: "\e905";
}

.icon-grape_variety:before {
    content: "\e90a";
}

.icon-food_and_wine_matching:before {
    content: "\e902";
}

.icon-rewards:before {
    content: "\e912";
}

.icon-storage_instructions:before {
    content: "\e901";
}

.icon-offers:before {
    content: "\e90b";
}

.icon-bottle_stopper:before {
    content: "\e90f";
}

.icon-taste:before,
.icon-taste_style:before {
    content: "\e911";
}
