body #dfclassic {
font-family: 'Roboto Condensed',Arial,sans-serif;
}

body #dfclassic .df-panel__title {
color:#98006A;
}

body #dfclassic .df-term[data-selected], body #dfclassic .df-term[data-selected]:hover {
background-color: #98006A;
border-color: #98006A;
}

body #dfclassic .df-card__price--new, body .df-mobile .df-card__price--new {
color:#26B48D;
}

body #dfclassic .df-card__content {
text-align: center;
}

body #dfclassic .df-card__note {
font-size:10px;
}

body #dfclassic .df-card__note .border {
display: inline-block;
width: max-content;
padding: 0 5px;
margin: 5px auto;
}

body #dfclassic .df-card__note .border b {
font-size:14px;
}

body #dfclassic .df-card__main {
position:relative;
}

body #dfclassic .df-card__tags {
position: absolute;
top:20px;
left:20px;
display:none;
}

body #dfclassic .df-card__main:hover .df-card__tags {
display:block;
width:42px;
margin-left:10px;
}

body #dfclassic .df-card__tags p {
padding:3px;
}

body #dfclassic .df-card__tags p .vin-picto-bio {
margin-left:2px;
background-color: #FFF;
}

body #dfclassic .df-card__tags .df-rewards {
width:40px;
margin-top:10px;
}

body #dfclassic .df-urls__card .df-term, body #dfclassic .df-urls__card .df-term .df-term__value {
    margin-bottom: 0;
}

body #dfclassic .df-urls__card .df-term .df-term__value a {
    display: block;
}

body #dfclassic .df-urls__card .df-term .df-blog__suggest {
    color: #FFF;
    background-color: #4A1342;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 11px;
}
